* {
    margin: 0;
    padding: 0;
  }

  .container{
    padding: 10px 20px;
    width: max-content;
    height:  max-content;
  }
  
  #cadastrar{
    width: 350px;
  }

  #limpar{
    width: 350px;
  }

  #lista-deliveries{
    border: 3px solid rgb(243, 243, 243);
  }

  #cadastro-delivery{
    border: 3px solid rgba(181, 176, 185, 0.973);
  }

